<h1>Ils doivent payer leur tournée !</h1>

<div>
    <table class="table table-striped" id="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Numéro de Licence</th>
            </tr>
        </thead>

        <tbody>
            <tr id="addBeerList">
                <td>
                    <select id="parachutistes" [(ngModel)]="beerListForm.parachutiste">
                        <option value="{{ p.id }}" *ngFor="let p of parachutistes | async">{{ p.nomParachutiste }} {{
                            p.numLicence }}</option>
                    </select>
                </td>
            </tr>

            <tr *ngFor="let b of beerList | async" id="nomBeer">
                <td>{{ b.parachutiste.nomParachutiste }}</td>
                <td>{{ b.parachutiste.prenomParachutiste }}</td>
                <td>{{ b.parachutiste.numLicence }}</td>
            </tr>

        </tbody>
    </table>
    <div id="blocBouton">
        <button (click)="ajouterBeerList()" class="btn btn-info" id="boutonAjouter">Ajouter</button> 
    </div>
</div>