div{
    padding-top: 4.6%;
    display: block;
    align-items: center;
}

th{
    color: #BDB76B;
}

#boutonAjouter{
padding-bottom: 35%;
}

#table{
background-color: gray;
opacity: 93%;
}

h1{
    padding-top: 8%;
}