<h1>Liste de parachutes</h1>

<div>
    <table class="table table-striped" id="table">
        <thead>
            <tr>
                <th>Nom harnais</th>
                <th>Nom voile principale</th>
                <th>Nom voile de secours</th>
                <th>Taille voile principale</th>
                <th>Taille voile de secours</th>
                <th>Date pliage voile de secours</th>
                <th>Securité</th>
                <th>Parachute personnel</th>
                <th>Disponibilité</th>
                <th>Proprietaire</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr id="addParachute">
                <td><input type="text" [(ngModel)]="formParachute.nomHarnais"></td>
                <td><input type="text" [(ngModel)]="formParachute.nomVoilePrincipale"></td>
                <td><input type="text" [(ngModel)]="formParachute.nomVoileSecours"></td>
                <td><input type="text" [(ngModel)]="formParachute.tailleVoilePrincipale"></td>
                <td><input type="text" [(ngModel)]="formParachute.tailleVoileSecours"></td>
                <td><input type="date" [(ngModel)]="formParachute.datePliageVoileSecours"></td>
                <td><select [(ngModel)]="formParachute.securite">
                    <option *ngFor="let s of securites | async" value="{{s}}">{{ s }}</option>
                </select></td>
                <td><input type="checkbox" [(ngModel)]="formParachute.isPerso"></td>
                <td><input type="checkbox" [(ngModel)]="formParachute.isDispo"></td>
                    <td><select  [(ngModel)]="formParachute.parachutiste">
                        <option></option>
                        <option *ngFor="let p of parachutistes | async" value="{{p.id}}">{{ p.nomParachutiste }}</option>
                    </select></td>
                <td><button (click)="ajouterParachute()" id="boutonAjouter" class="btn btn-info">Ajouter</button></td>
            <td><button (click)="modifierParachute()" class="btn btn-warning" *ngIf="modification" id="boutonModifier">Modifier</button></td>
            </tr>
            <tr *ngFor="let p of parachutes | async">
                <td>{{ p.nomHarnais }}</td>
                <td>{{ p.nomVoilePrincipale }}</td>
                <td>{{ p.nomVoileSecours }}</td>
                <td>{{ p.tailleVoilePrincipale }}</td>
                <td>{{ p.tailleVoileSecours }}</td>
                <td>{{ p.datePliageVoileSecours }}</td>
                <td>{{ p.securite }}</td>
                <td>{{ p.isPerso | ouiNon }}</td>
                <td>{{ p.isDispo | ouiNon }}</td>
                <td><span *ngIf=" p.proprietaire != null ">{{ p.proprietaire.nomParachutiste }}</span></td>
                <td><button (click)="supprimerParachute(p)" class="btn btn-danger" id="boutonSupprimer">Supprimer</button></td>
            <td><button (click)="editerParachute(p)" class="btn btn-warning" id="boutonEditer">Editer</button></td>
            </tr>
        </tbody>
    </table>
</div>
