
<div id="tandem">
<div id="bloctandem">
<h1 id="tandem1">Baptêmes / Tandem</h1>
<h2 id="tandem2">Une idée parfaite pour un cadeau inoubliable !</h2>
<p id="tandem3">NC Dropzone vous propose des baptêmes de chute libre en parachute biplace.</p>
</div>
</div>

<div id="pac">
<div id="blocpac">
<h1 id="pac1">Progression Accompagnée en Chute (PAC)</h1>
<h2 id="pac2">La PAC en Chute est la méthode d’enseignement de la chute libre par excellence.</h2>
<p id="pac3">NC Dropzone vous propose des baptêmes de chute libre en parachute biplace.</p>
</div>
</div>
