<h1>Saut</h1>

<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Hauteur</th>
                <th>Type</th>
                <th>Parachutistes</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>
                    <select [(ngModel)]="formSaut.hauteur">
                        <option *ngFor="let h of hauteurs | async" value="{{ h }}">{{ h }}</option>
                    </select>
                </td>
                <td>
                    <select [(ngModel)]="formSaut.typeSaut">
                        <option *ngFor="let t of types | async" value="{{ t }}">{{ t }}</option>
                    </select>
                </td>
                <td>
                    <select multiple [(ngModel)]="formSaut.parachutistes">
                        <option *ngFor="let p of parachutistes | async" value="{{ p }}">{{ p.numLicence }}</option>
                    </select>
                </td>
                <td>
                    <button *ngIf="!isEdition" (click)="ajouterSaut()">Ajouter</button>
                    <button *ngIf="isEdition" (click)="modifierSaut()">Modifier</button>
                </td>
            </tr>
            <tr *ngFor="let s of sauts | async">
                <td>{{ s.hauteur }}</td>
                <td>{{ s.typeSaut }}</td>
                <td>
                    <p *ngFor="let p of s.parachutistes">{{ p.numLicence }}</p>
                </td>
                <td>
                    <button (click)="supprimerSaut(s)" class="btn btn-danger">Supprimer</button>
                    <button (click)="editerSaut(s)" class="btn btn-warning">Editer</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>