<h1>Liste des pilotes</h1>

<div>
    <table class="table table-striped" id="table">
        <thead>
            <tr>
                <th>Nom pilote</th>
                <th>Prenom pilote</th>
                <th>Numéro de license</th>
            </tr>
        </thead>
        <tbody>
            <tr id="addAvion">
                <td><input type="text" [(ngModel)]="formPilote.nomPilote"></td>
                <td><input type="text" [(ngModel)]="formPilote.prenomPilote"></td>
                <td><input type="text" [(ngModel)]="formPilote.numLicence"></td>
                <td><button (click)="ajouterPilote()" class="btn btn-info" id="boutonAjouter">Ajouter</button></td>
            <td><button (click)="modifierPilote()" class="btn btn-warning" id="boutonModifier">Modifier</button></td>
            </tr>
            <tr *ngFor="let p of pilotes | async">
                <td>{{ p.nomPilote }}</td>
                <td>{{ p.prenomPilote }}</td>
                <td>{{ p.numLicence }}</td>
                <td><button (click)="supprimerPilote(p)" class="btn btn-danger" id="boutonSupprimer">Supprimer</button></td>
            <td><button (click)="editerPilote(p)" class="btn btn-warning" id="boutonEditer">Editer</button></td>
            </tr>
        </tbody>
    </table>
</div>
