div{
    background-color: gray;
    padding-top: 4.6%;
    display: block;
    align-items: center;
}

th{
    color: #BDB76B;
}

#boutonAjouter{
    padding-bottom: 16%;
    }
    
    #boutonModifier{
    padding-bottom: 16%;
        }