<h1>Liste des parachutistes</h1>

<div>
    <table class="table table-striped" id="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Numéro Licence</th>
                <th>Date d'obtention de la licence</th>
                <th>Pratiquant régulier ?</th>
                <th>Confirmé</th>
                <th>Parachutes possédés</th>
            </tr>
        </thead>
        <tbody>
            <tr id="addParachutiste">
                <td><input type="text" [(ngModel)]="formParachutiste.nomParachutiste"></td>
                <td><input type="text" [(ngModel)]="formParachutiste.prenomParachutiste"></td>
                <td><input type="text" [(ngModel)]="formParachutiste.numLicence"></td>
                <td><input type="date" [(ngModel)]="formParachutiste.dateLicence"></td>
                <td><input type="text" [(ngModel)]="formParachutiste.isPratiquant"></td>
                <td><input type="text" [(ngModel)]="formParachutiste.isConfirme"></td>
                <td><select id="parachute" multiple>
                    <option></option>
                    <option *ngFor="let parachute of parachutes | async">{{ parachute.nomHarnais }}</option>
                </select></td>
                <td><button (click)="ajouterParachutiste()">Ajouter</button>
                    <button (click)="modifierParachutiste()">Modifier</button></td>
            </tr>
            <tr *ngFor="let p of parachutistes | async">
                <td>{{ p.nomParachutiste }}</td>
                <td>{{p.prenomParachutiste}}</td>
                <td>{{p.numLicence}}</td>
                <td>{{p.dateLicence}}</td>
                <td>{{p.isPratiquant}}</td>
                <td>{{p.isConfirme}}</td>
                <td><button (click)="voirParachutePossede(p)">Ses parachutes</button></td>
            </tr>
        </tbody>
    </table>
</div>


<modal #modal titre="Liste des parachutistes de {{ parachutiste.nomParachutiste }}">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Nom Harnais</th>
				<th>Nom voile principale</th>
			</tr>
		</thead>

		<tbody>
			<tr *ngFor="let pa of parachutesPossede ">
				<td>{{ pa.nomHarnais }}</td>
                <td>{{ pa.nomVoilePrincipale }}</td>
			</tr>
		</tbody>
	</table>
</modal>
