<nav>
  <ul>
    <li>
      <a [routerLink]="[ '/' ]">Accueil</a>
    </li>
    <li>
      <a [routerLink]="[ '/enregistrement' ]">Enregistrement</a>
    </li>
    <li>
      <a [routerLink]="[ '/planning' ]">Planning</a>
    </li>
    <li>
      <a [routerLink]="[ '/connexion' ]">Connexion</a>
    </li>
    <li>
      <a [routerLink]="[ '/avion' ]">(lien ADMIN) Avion</a>
    </li>
    <li>
      <a [routerLink]="[ '/parachute' ]">(lien ADMIN / SECRETAIRE) Parachute</a>
    </li>
    <li>
      <a [routerLink]="[ '/parachutiste' ]">(lien ADMIN / SECRETAIRE) Parachutiste</a>
    </li>
    <li>
      <a [routerLink]="[ '/pilote' ]">(lien ADMIN) Pilote</a>
    </li>
    <li>
      <a [routerLink]="[ '/saut' ]">(lien ADMIN / SECRETAIRE) Saut</a>
    </li>
    <li>
      <a [routerLink]="[ '/vol' ]">(lien ADMIN / SECRETAIRE) Vol</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>