<h1>Avion</h1>

<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Capacite transport</th>
                <th>Rotation max</th>
                <th>Disponibilite</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr id="addAvion">
                <td><input type="text" [(ngModel)]="formAvion.nomAvion"></td>
                <td><input type="text" [(ngModel)]="formAvion.capaciteTransport"></td>
                <td><input type="text" [(ngModel)]="formAvion.rotationMax"></td>
                <td><input type="text" [(ngModel)]="formAvion.isDispo"></td>
                <td><button (click)="ajouterAvion()" class="btn btn-info" id="boutonAjouter">Ajouter</button>
                    <button (click)="modifierAvion()" class="btn btn-warning" id="boutonModifier">Modifier</button></td>
            </tr>
            <tr *ngFor="let a of avions | async">
                <td>{{ a.nomAvion }}</td>
                <td>{{ a.capaciteTransport }}</td>
                <td>{{ a.rotationMax }}</td>
                <td>{{ a.isDispo }}</td>
                <td><button (click)="supprimerAvion(a)" class="btn btn-danger" id="boutonSupprimer">Supprimer</button>
                    <button (click)="editerAvion(a)" class="btn btn-warning" id="boutonEditer">Editer</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>