div{
    padding-top: 4.6%;
    display: block;
    align-items: center;
}

#table{
    background-color: gray;
    opacity: 93%;
}

th{
    color: #BDB76B;
}

#boutonAjouter{
    padding-bottom: 16%;
    }

#boutonModifier{
padding-bottom: 16%;
}

#boutonSupprimer{
padding-bottom: 16%;
}

#boutonEditer{
padding-bottom: 16%;
}

h1{
  padding-top: 8%;
  padding-left: 43%;
}

  #boutonModifier {
      background: #BDB76B;
      color: black;
      box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.95);
      border: 1px solid #BDB76B;
      transition: 0.3s all ease-in-out;
    }
    
    #boutonModifier:hover {
      background: rgba(0, 0, 0, 0.2);
      box-shadow: 0px 0px 10px 5px black;
    }
  
    #boutonAjouter{
      background: rgba(31, 26, 26, 0.95);
      color: #BDB76B;
      box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.95);
      border: 1px solid #BDB76B;
      transition: 0.3s all ease-in-out;
    }
    
    #boutonAjouter:hover {
      background: rgba(0, 0, 0, 0.2);
      box-shadow: 0px 0px 10px 5px black;
    }
  
    #boutonSupprimer{
      background: rgba(236, 221, 221, 0.2);
      color: black;
      box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.95);
      border: 1px solid #BDB76B;
      transition: 0.3s all ease-in-out;
    }
    
    #boutonSupprimer:hover {
      background: rgba(0, 0, 0, 0.2);
      box-shadow: 0px 0px 10px 5px black;
    }
  
    #boutonEditer{
      background: white;
      color: black;
      box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.95);
      border: 1px solid #BDB76B;
      transition: 0.3s all ease-in-out;
    }
    
    #boutonEditer:hover {
      background: rgba(0, 0, 0, 0.2);
      box-shadow: 0px 0px 10px 5px black;
    }
  
