div{
    padding-top: 4.6%;
    display: block;
    align-items: center;
}

#table{
    background-color: gray;
    opacity: 93%;
}

th{
    color: #BDB76B;
}

#boutonAjouter{
    padding-bottom: 13%;
    }

#boutonModifier{
padding-bottom: 13%;
}

#boutonSupprimer{
padding-bottom: 13%;
}

#boutonEditer{
padding-bottom: 13%;
}

h1{
    padding-top: 8%;
}