div{
    padding-top: 2%;
    display: block;
    align-items: center;
}

p{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: gray;
}

#formulaire{
    padding-top: 50px;
    padding-left: 45%;
    display: block;
    align-items: center;
    color: #BDB76B;
}

#table{
    background-color: gray;
    color: #BDB76B;
}
