div{
    padding-top: 2%;
    display: block;
    align-items: center;
}

label{
    padding-right: 1%;
}

#formulaire{
    background-color: white;
    padding-left: 45%;
    color: #BDB76B;
    opacity: 80%;
    padding-bottom: 3%;
}

#table{
    background-color: gray;
    color: #BDB76B;
}

#bontonEnregistrer{
    padding-bottom: 5%;
}

#enregistrer{
    padding-left: 5%;
}

#bontonSelectionner{
    padding-bottom: 5%;
}

h1{
    padding-top: 8%;
}

#table{
    background-color: gray;
    opacity: 93%;
}

#bontonEnregistrer {
    background: #BDB76B;
    color: black;
    box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.95);
    border: 1px solid #BDB76B;
    transition: 0.3s all ease-in-out;
  }
  
  #bontonEnregistrer:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 10px 5px black;
  }

  #bontonSelectionner{
    background: rgba(31, 26, 26, 0.95);
    color: #BDB76B;
    box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.95);
    border: 1px solid #BDB76B;
    transition: 0.3s all ease-in-out;
  }
  
  #boutonSelectionner:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.85);
  }

  