div{
    background-color: gray;
    padding-top: 2%;
    display: block;
    align-items: center;
}

#formulaire{
    padding-left: 45%;
    color: #BDB76B;
    opacity: 90%;
}

#table{
    background-color: gray;
    color: #BDB76B;
}

#bontonEnregistrer{
    padding-bottom: 5%;
    opacity: 100%;
}

#bontonSelectionner{
    padding-bottom: 5%;
}
