#planning {
    margin-top: 200px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: black;
    opacity: 95%;
}
#planning table {
    background-color: gray;
}

th{
    padding-left: 19%;
}

td{
    padding-left: 19%;
}
