<div id="planning">
    <div class="left">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Etat</th>
                    <th>Nom avion</th>
                    <th>Parachutistes</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let v of volsVol | async">
                    <td>{{ v.id }}</td>
                    <td>{{ v.etat }}</td>
                    <td>{{ v.avion.nomAvion }}</td>
                    <td *ngFor="let s of v.sauts"><span *ngFor="let p of parachutistes | async"><span *ngIf="p.saut != null">{{ p.nomParachutiste }}, </span></span></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="right">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Etat</th>
                    <th>Nom avion</th>
                    <th>Parachutistes</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let v of volsPreparation | async">
                    <td>{{ v.id }}</td>
                    <td>{{ v.etat }}</td>
                    <td>{{ v.avion.nomAvion }}</td>
                    <td *ngFor="let s of v.sauts"><span *ngFor="let p of parachutistes | async"><span *ngIf="p.saut != null">{{ p.nomParachutiste }}, </span></span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
